DATABASE_URL="mysql://username:password@host:port/database_name"
CALLBACK_URL="https://webhook.site/your-unique-id"
CALLBACK_DELAY_INACTIVE=2000
CALLBACK_DELAY_ACTIVE=30000
CALLBACK_DELAY_UNSUBSCRIBE=5000
AUTH_CLIENT_ID="mockClientId"
AUTH_CLIENT_KEY="mockClientSecret"
